@charset "utf-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.cf:after{
  content: ".";
  display: block;
  height: 0;
  font-size:0;
  clear: both;
  visibility:hidden;
}

/* クリアフィックス */
.cf{display: inline-block;}
/* Hides from IE Mac \*/
* html .cf {height: 1%;}
.cf{display:block;}
/* End Hack */



/* ↑リセットCSSコピペ　CSSここから記述↓ */

body {
	font-family: ArialMT, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", メイリオ, sans-serif;
}

#header {
	background-color: #1c1c1c;
	height: 53px;
	position: relative;
}

#header h1 {
	text-align: center;
	padding-top: 15px;
}

#header h1 a {
	color: #fff;
	font-size: 24px;
	text-decoration: none;
}

p#nav_btn {
	position: absolute;
	top: 0px;
	left: 0px;
}

p#nav_btn a {
	display: block;
	width: 53px;
	height: 38px;
	text-align: center;
	padding-top: 15px;
}

div#mainimage img {
	width: 100%;
}

#news #news_header {
	background-color: #1c1c1c;
	color: #fff;
	padding: 8px 15px;
}

#news #news_header h1 {
	font-size: 14px;
	float: left;
}

#news #news_header #more {
	float: right;
}

#news #news_header #more a {
	color: #fff;
	font-size: 12px;
	text-decoration: none;
	display: block;
	background: url(images/icon_right.png) no-repeat left center;
	padding-left: 18px;
	background-size: 6px 12px;
}

.news_list a {
	display: block;
	padding: 10px 15px 10px 15px;
	text-decoration: none;
	color: #2a2929;
	background: url(images/icon_right02.png) no-repeat 96% center;
	background-size: 6px 12px;
}

.news_list {
	background: rgb(255,255,255);
	background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(239,239,239,1) 100%);
	border-bottom: 1px solid #cccccc;
}

.news_list .thumb {
	float: left;
	margin-right: 9px;
}

.news_list .thumb img {
	width: 58px;
}

.news_list .date {
	color: #656565;
	font-size: 12px;
	margin-top: 7px;
	margin-bottom: 8px;
}

.news_list h1 {
	font-size: 12px;
	padding-right: 20px;
}

#footer_nav li {
	background-color: #333333;
	border-bottom: 1px solid #5c5b5b;
}

#footer_nav li a {
	color: #fff;
	font-size: 12px;
	text-decoration: none;
	display: block;
	padding: 12px 15px;
	background: url(images/icon_footer.png) no-repeat 96% center;
	background-size: 6px 12px;
}

#footer {
	background-color: #191919;
	color: #fff;
	padding: 16px 15px;
}

#footer-title {
	float: left;
	font-size: 15px;
}

#footer-copy {
	float: right;
	font-size: 12px;
}
